{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "WORLDBANK" : false,
    "bank" : false,
    "chartGraph":false,
    "Chart":false
  }
}
