{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "WORLDBANK":false,
    "DATABANK":false,
    "Chart":false,
    "Set":true
  }
}
