
.icon-building:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\f098'; } /* '' */
.icon-mail:before { content: '\f199'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-linkedin:before { content: '\f319'; } /* '' */
.icon-skype:before { content: '\f33a'; } /* '' */