@import url('http://weloveiconfonts.com/api/?family=fontawesome|typicons');
[class*="fontawesome-"]:before {
    font-family: 'Acme', sans-serif;
    font-family: 'FontAwesome', sans-serif;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.logo {
    width: 65%; 
    height: 150px;
    margin-top: 3%;
}
.menu{
    position: fixed;
    top:0;
    width: 80vw;
    margin: 0 10% 0 10%;
}
ul{
    padding: 0;
    list-style: none;
    background: #2e2e2a;
    line-height: 50px;
    overflow: auto;
}
li{
    width: 150px;
    float: right;
    text-align: center;
}
.aMenu{
    display: block;
    color: white;
    font-size: 15px;
}
a:hover{
    background: skyblue;
    color: #0009;  
}
.poblacion{
    width: 80vw;
    height: 70vh;
} 
.imgContener{
    margin: 0 10% 0 10%;
}
.container{
    max-width: 60vw;
    background-color: #ecf0f1;
}
.box{
    display: grid;
}
.left{
    grid-template-rows: 1fr 8fr; 
    grid-template-columns: 12fr;
}

.texto{
    text-align: center;
}
.left h2{
    grid-row: 1/2;
    width: 90%;
    margin: auto;
    height: 70%;
    padding-top: 4%;
}
.left form{
    grid-row: 2/3;
    width: 80%;
   display: grid;  
   grid-template-columns: 6fr 6fr; 
   grid-template-rows:1fr 1fr 3fr 1fr; 
    height: 70%;
    border-radius: 10px;
    border: 1px solid black;
}
.cuadro{
    border:1px solid black; 
    width: 80%;
    border-radius:10px; 
    height: 90%;
    display:grid;
}
.columAll{
    grid-column: 1/3;
}
.colum1{
    grid-column: 1/2;
}
.colum2{
    grid-column: 2/3;
}
.list_indicadores{
    height: 70%;
    grid-row:2/3;
    width: 70%;
}
select{
    background: transparent;
    border: 1px solid skyblue;
}

button{ 
    height: 70%;
    width:60%;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: Arial;
    font-size: 16px;
    color: #0099CC;
    cursor: pointer;
}
button:hover{
    background-color: #008CBA;
    color: white;
}
.left .form1 .label1{
    grid-row: 1/2;
}
.left .form1 .opciones{
    grid-row:3/4;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(2,3fr);
    margin-right:2%; 
}
 .pais{
    margin: 5%;
} 
.paises{
    grid-row: 2/4;
    grid-column: 1/3;
    width: 80%;
    height: 70%;
}

.left .form1 .opciones .label2{
    grid-row: 1/2;
    margin-top:5%;
}
.label3{
    grid-row:1/2; 
    margin-top:5%;
}
.left .form1 .date{
    grid-row:3/4;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:3fr 3fr;
    margin-left: 3%;
}
.fromAges{
    grid-row:2/3;
}
.toAges{
    grid-row:3/4;
}
.years{
    width: 70%;
    height: 80%;
}
.left .form1 button{
    grid-row: 4/5;
}
.filtrar{
    margin-right: 5%;
}
.clear{
    margin-left: 5%;
}
 .data{
    background: rgb(201, 205, 207);
    max-width: 80vw;
} 
.margen-auto{
    margin: auto;
}
.Tabla{
    font-family: arial;
    outline: 1px solid black;
    width:35%;
    margin: auto;
}
th, td{
    text-align: center;
}
.Tabla caption{
    background: #48507a;
    color: white;
    text-align: center;
}
.country-class{
    text-align: right;
}
.contenedorFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background-color:  rgba(16, 2, 77);
    color: white;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
    background-color: rgba(16, 2, 77);
}

.sociales a{
    text-decoration: none;
}
